body{
  background-image: url(pics/background.png);
  background-repeat: no-repeat;
}
#main{
  /*width:800px;*/
  width:800px;
  height:10000px;
  margin:0 auto;
  position:relative;
  overflow:hidden;
}
#box1{
  width:100px;
  height:100px;
  background-color:red;
  position:absolute;
}

#counter{
   width:200px;
  height:50px;
  background-color:pink;
  position:absolute;
  top:300px;
  left:20px;
}
#left1{
  color: white;
  text-align: center;
  background-color: black;
   width:500px;
  border: 20px solid white;
  border-radius: 10px;
  position:absolute;
  top:1000px;
  left:-250px;
}
#right1{
  color: white;
  text-align: center;
  background-color: black;
   width:500px;
  border: 20px solid white;
  border-radius: 10px;
  position:absolute;
  top:1500px;
  right:-250px;
}

#left2{
  color: white;
  text-align: center;
  background-color: black;
   width:500px;
  border: 20px solid white;
  border-radius: 10px;
  position:absolute;
  top:1900px;
  left:-250px;
}
.kissright1{
  color: white;
  text-align: center;
  background-color: #101211;
   width:500px;
  border: 20px solid #4ceaa2;
  border-radius: 10px;
  position:absolute;
  top:2500px;
  right: -250px;
}
#left3{
  color: white;
  text-align: center;
  background-color: #101211;
   width:500px;
  border: 20px solid #4ceaa2;
  border-radius: 10px;
  position:absolute;
  top:3300px;
  left:-250px;
}

#right3{
  color: white;
  text-align: center;
  background-color: #101211;
   width:500px;
  border: 20px solid #4ceaa2;
  border-radius: 10px;
  position:absolute;
  top:4500px;
  right:-250px;
}

#symbol1{
  width:200px;
  height:50px;
  position:absolute;
  top:300px;
  left:250px;
}
#symbol2{
  width:414px;
  height:272px;
  position:absolute;
  top:2000px;
  left:250px;
}
#symbol3{
  width:249px;
  height:477px;
  position:absolute;
  top:5700px;
  left:250px;
}
/*#counter:hover{
  left:0;
}*/